  .bande {
    background-color : rgba(0, 255, 0, 0.9);
    height : 10px;
  }
  .bandebas {
    background-color : rgba(255, 0, 0, 0.9);
    height : 20px;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .adresse {
    text-align : center;
  }
   .container1 {
    display: flex;
    justify-content: space-between;
  }
  .container2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .side{
    order : 1;
    width : 20%;
    }
  .corps{
    order : 2;
    width : 50%;
    }
  .sommaire{
    order : 3;
    width : 30%;
    }
  h1 {
   font-size: 150%; 
   text-align : center;
   color: navy; 
   }
  h2 {
   font-size: 100%; 
   color: rgba(255,0,0,.85); 
   padding-left: 15px;
   }
     td {
    border: 1px double black; /* auront une bordure de 1px */
  }
  th{
    border: 2px double red; /* auront une bordure de 1px */
  }
  table {
    text-align : center;
    border-collapse: collapse;
    margin-left: 200px; /* - moitié de la largeur */

  }
  .image {
  font-size: 100%;
  text-align : center;
  }
   a:link {
     color: blue;
     text-decoration: underline;
   }
  a:visited {
   color: gray;
   }
  a:hover {
   color: red;
   text-decoration: none;
  }
  a:active, a:focus {
   color: red;
  }